<script src="/public/js/addUser.js" type="text/javascript"></script>

<h2>Sign up!</h2>

<table>
    <tr>
        <td>
            email
        </td>
        <td>
            <input id="newjourney_name" type="email"  value="" maxlength="50"  tabindex="-1"/>
        </td>
    </tr>
    <tr>
        <td>
            User name
        </td>
        <td>
            <input id="newjourney_start" type="text"  value="" maxlength="50"  tabindex="-1"/>
        </td>
    </tr>
    <tr>
        <td>
            Password
        </td>
        <td>
            <input id="newjourney_end" type="password"  value="" maxlength="50"  tabindex="-1"/>
        </td>
    </tr>
</table>

<button id="addUser" onclick='ajaxCall("create")'>Sign up!</button>
