<script src="/public/js/addUser.js" type="text/javascript"></script>

<h2>Log in!</h2>

<table>
    <tr>
        <td>
            User name
        </td>
        <td>
            <input id="user_name" type="text"  value="" maxlength="50"  tabindex="-1"/>
        </td>
    </tr>
    <tr>
        <td>
            Password
        </td>
        <td>
            <input id="password" type="password"  value="" maxlength="50"  tabindex="-1"/>
        </td>
    </tr>
</table>

<hr/>

<button id="singIn" onclick='ajaxCall("authentication")'>Log in!</button><h2>Sign up!</h2>

<table>
    <tr>
        <td>
            email
        </td>
        <td>
            <input id="new_email" type="email"  value="" maxlength="50"  tabindex="-1"/>
        </td>
    </tr>
    <tr>
        <td>
            User name
        </td>
        <td>
            <input id="new_user_name" type="text"  value="" maxlength="50"  tabindex="-1"/>
        </td>
    </tr>
    <tr>
        <td>
            Password
        </td>
        <td>
            <input id="new_password" type="password"  value="" maxlength="50"  tabindex="-1"/>
        </td>
    </tr>
</table>

<button id="addUser" onclick='ajaxCall("create")'>Sign up!</button>
