
	<h2>Journey: {NAME}</h2> 
	

	<table>
        <tr>
            <td>
            Name
            </td>
            <td>
                {NAME}
            </td>
        </tr>
        <tr>
            <td>
            Start
            </td>
            <td>
                {START}
            </td>
        </tr>
        <tr>
            <td>
            End
            </td>
            <td>
                {END}
            </td>
        </tr>
        <tr>
            <td>
            Country
            </td>
            <td>
                {COUNTRY}
            </td>
        </tr>
        <tr>
            <td>
            Summary
            </td>
            <td>
                {SUMMARY}
            </td>
        </tr>
        <tr>
            <td>
            Image
            </td>
            <td>
                <div><img src='' height="100" alt=""></div>
            </td>
        </tr>
</table>
	


		