<!DOCTYPE html>
<html>
	<head>	
		<TITLE>Welcome to MyJourney</TITLE>
		<link rel="stylesheet" href="/public/style/main.css" type="text/css">
        <link rel="icon" href="/public/img/favicon.ico" type="image/x-icon"/>
        <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon"/>
	</head>
	<body>
<table align="center" border="0" cellpadding="1" cellspacing="1" style="width: 60%;">
	<tbody>
		<tr>
			<th colspan="6">Header</th>
		</tr>
		<tr>
			<td colspan="2" style="width: 20%;">&nbsp;</td>
			<td colspan="4"><marquee> Welcome to MyJourney </marquee></td>
		</tr>
		<tr>
			<td colspan="2" style="width: 20%;" valign="top">
			<div>Home</div>

			<div>My Journeys</div>

			<div>About</div>

			<div>Login</div>
			</td>
			<td colspan="4" valign="top" style="height: 500px">{CONTENTS}</td>
		</tr>
		<tr>
			<td colspan="2" style="width: 20%;">&nbsp;</td>
			<td colspan="4">
			<footer align="right">2015 &copy; Copyright | Group 2 | Dynamic Web | FH Joanneum
			<div>myjourney.moappdev@gmail.com</div>
			</footer>
			</td>
		</tr>
	</tbody>
</table>
	</body>
</html>